#mypagecontainer {
    margin-left: 5%;
    width: 90%;
    height: 100%;
    border: 1px;
    border-radius: 30px;
    opacity: 0.87;
    z-index: 11;
    background-color: white;
    box-shadow: 5px 5px 5px #AAA;
}

#mypageleft {
    position: absolute;
    top: 5px;
    left: 7%;
    width: 35%;
    opacity: 1;
}
#trainname {
    position: absolute;
    top: 10px;
    height: 50px;
    width: 78%;
    font-size: 30px;
    font-family: fantasy;
}
#myartist {
    position: absolute;
    top: 70px;
    border: solid;
    border-radius: 15px;
    padding: 10px;
    height: 240px;
    width: 78%;
    box-shadow: 5px 5px 5px #AAA;
}
#mygenre {
    position: absolute;
    top: 325px;
    border: solid;
    border-radius: 15px;
    padding: 10px;
    height: 240px;
    width: 78%;
    box-shadow: 5px 5px 5px #AAA;
}



#mypagecenter {
    position: absolute;
    top: 70px;
    left: 35%;
    height: 500px;
    width: 30%;
    opacity: 1;
}
#maketrain {
    position: absolute;
    top: 5px;
    width: 100%;
    height: 40px;
    padding-left: 8%;
}
#makelist{
	position: absolute;
	top : 45px;
	width :100%;
	border :solid;
	border-radius: 15px;
    padding: 10px;
    height: 455px;
    box-shadow: 5px 5px 5px #AAA;
}


#mypageright {
    position: absolute;
    top: 65px;
    left: 66%;
    height: 500px;
    width: 27%;
    opacity: 1;
}
/* #drivetrain{ */
/* 	position: absolute; */
/* 	top:5px; */
/* 	width : 480px; */
/* 	 height: 200px; */
/* 	 border: solid; */
/* } */
#drivelist {
    position: absolute;
    top: 15px;
    width: 100%;
    border: solid;
    border-radius: 15px;
    height: 490px;
    padding: 10px;
    box-shadow: 5px 5px 5px #AAA;
}
#maketrainListUl{
    padding: 0;
    overflow-y: auto;
    height: 425px;
}
#maketrainList{
    list-style: none;
    height: 100px;
    margin-bottom: 25px;
}
.cart-con{
	border: groove;
    border-radius: 15px;
    padding: 10px;
    padding-top: 3px;
    background: #DDD;
    box-shadow: 5px 5px 5px #AAA;
}
#train_id{
	margin-top: 0px;
    margin-bottom: -3px;
    font-size: x-large;
    font-family: -webkit-pictograph;
}
#mynick{
	margin-top: 0px;
    margin-bottom: -3px;
    font-size: x-large;
    font-family: -webkit-pictograph;
}
#mytrainname{
    font-size: xx-large;
}
#mytrainno{
    font-size: x-large;
}
#btn-del{
	position: relative;
    right: -90%;
    top: -62px;
    border-radius: 15px;
    background: #888;
    color: #DDD;
}

/* .cart-con:hover{ */
/* 	background: #AAA; */
/* 	cursor: pointer; */
/* 	transition: 0.35s ease-in-out; */
/* 	color: #EEE; */
/* } */
#btn-del:hover{
    background: #DDD;
    color: #444;
    transition: 0.35s ease-in-out;
}
#songListUl {
    padding: 0px;
    overflow-y: auto;
    height: 454px;
}
.cart-con2{
	border: groove;
    border-radius: 10px;
    padding: 0px 0px 0px 5px;
    background: #EEE;
}
#songList{
	list-style: none;
  	margin-bottom: -25px;
}
#songlist_title{
	font-size: 15px;
    margin: 0px;
    border: none;
    background: #EEE;
}
#songlist_artist{
	margin-left: 19px;
    font-size: 12px;
    font-family: sans-serif;
    top: -4px;
    position: relative;
    color: #666;
}
#songlist_btn-del{
  	position: relative;
    top: -40px;
    right: -90%;
    border-radius: 15px;
    background: #888;
    color: #DDD;
}
#songlist_btn-del:hover{
    background: #DDD;
    color: #444;
    transition: 0.35s ease-in-out;
}
#btn-show{
    border-radius: 15px;
    background: #FFF;
    transition: 0.35s ease-in-out;
    margin-bottom: 5px;
}
#btn-show:hover{
	background: #AAA;
	color: #FFF;
}
#nickdiv{
    top: 20px;
    left: 10px;
    position: relative;
    font-weight: bold;
    font-size: 17px;

}